
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
    
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body{
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
     }

    .card{
      width: 45%;
      display: flex;
      justify-content: left;
     }

    .orange{
      width: 33.33%;
      background-color: hsl(31, 77%, 52%);
      padding: 2.3rem 2rem;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .darkcyan{
      width: 33.33%;
      background-color: hsl(184, 100%, 22%);
      padding: 2.3rem 2rem;
    }

    .verydarkcyan{
      width: 33.33%;
      background-color: hsl(179, 100%, 13%);
      padding: 2.3rem 2rem;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    h1{
      color: hsl(0, 0%, 95%);
      font-family: 'Big Shoulders Display', cursive;
      font-size: 1.55rem;
      margin: 1.3rem 0;
      line-height: 2rem;
    }
    .para{
      color: hsla(0, 100%, 100%, 0.75);
      font-family: 'Lexend Deca', sans-serif;
      font-size: 0.7rem;
      line-height: 1.2rem;
      margin-bottom: 3.6rem;
      opacity: 0.9;
    }
    .orange .learn{
      color: orange;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      border: none;
      font-family: 'Lexend Deca', sans-serif;
      font-size: 0.65rem;
    }
    .darkcyan .learn{
      color: darkcyan;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      border: none;
      font-family: 'Lexend Deca', sans-serif;
      font-size: 0.65rem;
    }
    .verydarkcyan .learn{
      color: hsl(179, 100%, 13%);
      padding: 0.5rem 1rem;
      border-radius: 30px;
      border: none;
      font-family: 'Lexend Deca', sans-serif;
      font-size: 0.65rem;
    }
    
    @media screen and (max-width:800px){
      .card{
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .orange{
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
      .darkcyan{
        width: 100%;
      }
      .verydarkcyan{
        width: 100%;
        border-radius: 0 0 10px 10px;
      }
    }
    @media screen and (max-width:400px){
      .card{
        width: 100%;
        margin: 2rem 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .orange{
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
      .darkcyan{
        width: 100%;
      }
      .verydarkcyan{
        width: 100%;
        border-radius: 0 0 10px 10px;
      }
      }
    
    